<nav ng-controller="topbarController as topbar" 
  class="tab-bar" 
  ng-style="{'background-color': noColor ? index.secondaryColor : index.backgroundColor}">
  <section class="left-small">
    <a id="hamburger" class="p10" ng-show="!goBackToState && !closeToHome  && !index.noFocusedWallet"
      ng-click="index.openMenu()"><i class="fi-list size-24"></i>
    </a>
    <a ng-show="goBackToState"
      ng-click="$root.go(goBackToState); goBackToState = null"><i class="icon-arrow-left3 icon-back"></i>
      <span class="text-back">{{'Back'|translate}}</span>
    </a>

    <a ng-show="closeToHome" class="p10 "
      ng-click="topbar.goHome(); closeToHome = null">
      <span class="text-close">{{'Close'|translate}}</span>
    </a>
  </section>

  <section class="right-small" ng-show="showPreferences && !index.noFocusedWallet">
    <a class="p10" ng-click="topbar.goPreferences()">
      <i class="fi-widget size-24"></i>
    </a>
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title ellipsis">
      {{(titleSection|translate) || (index.alias || index.walletName)}}
    </h1>
  </section>
</nav>
